<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CSE564 Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png"  href= "{{ url_for('static',filename='styles/images/icon/favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/themify-icons.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/metisMenu.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/slicknav.min.css') }}">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/typography.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/default-css.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/styles.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/responsive.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/ethincmix.css') }}">
    <!-- modernizr css -->
    <script src="{{ url_for('static',filename='styles/js/vendor/modernizr-2.8.3.min.js') }}"></script>
	<!-- jquery latest version -->
    <script src="{{ url_for('static',filename='styles/js/vendor/jquery-2.2.4.min.js') }}"></script>

</head>

<style> /* set the CSS */

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

    svg {
  font: 10px sans-serif;
  padding: 10px;
}

.axis,
.frame {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
}

.axis path {
  display: none;
}

.cell text {
  font-weight: bold;
  text-transform: capitalize;
  fill: black;
}

.frame {
  fill: none;
  stroke: #aaa;
}

circle {
  fill-opacity: .7;
}

circle.hidden {
  fill: #ccc !important;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}
</style>

<body onresize="change_button()">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="index.html"><img src="{{ url_for('static',filename='styles/images/icon/sbu_logo_dark.png') }}" width="100" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li>
                                <a href="home" aria-expanded="true"><i class="ti-pie-chart"></i><span>Home</span></a>
                            </li>
							<li>
                                <a href="maps" aria-expanded="true"><i class="ti-pie-chart"></i><span>Map Charts</span></a>
                            </li>
                            <li>
                                <a href="rmix" aria-expanded="true"><i class="ti-pie-chart"></i><span>Racial Distribution</span></a>
                            </li>
                            <li>
                                <a href="features" aria-expanded="true"><i class="ti-pie-chart"></i><span>Feature Analysis</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div>
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <!-- profile info & task notification -->
					<h3 class="center-align">FEATURE RELATIONS WITH SHOOTINGS</h3>
                </div>
            </div>
            <!-- header area end -->
            <!-- page title area start -->
            <div class="page-title-area">
            </div>
			<div class="timeline-filter" align="center">
            </div>
            <div class="bar-scree">
				<h4 class="center-align" style="margin-top:10px"></h4>
				<br>
				<div>

                </div>
                <div class="unemployment_chart" align="center">
                </div>
				<h4 class="center-align" style="margin-top:45px"></h4>
				<br>
                <div class="m-pie-chart" align="center">
                </div>
                <div class="scatter_matrix" align="center">
                </div>
            </div>
        </div>
        <!-- main content area end -->
		<!--
        <footer>
            <div class="footer-area">
                <p>Dashboard developed by Hardik Singh Negi & Ayush Garg</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>
    <!-- page container area end -->
    <!-- bootstrap 4 js -->
    <!-- jquery latest version -->
    <script src="{{ url_for('static',filename='styles/js/vendor/jquery-2.2.4.min.js') }}"></script>
    <!-- bootstrap 4 js -->
    <script src="{{ url_for('static',filename='styles/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/metisMenu.min.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/jquery.slicknav.min.js') }}"></script>

    <!-- others plugins -->
    <script src="{{ url_for('static',filename='styles/js/plugins.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/scripts.js') }}"></script>


    <!-- load the d3.js library -->
    <script src="http://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-selection-multi.v0.4.min.js"></script>
    <script src='https://npmcdn.com/babel-core@5.8.34/browser.min.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
	<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script lang="babel" type='text/babel'>

        let data;
        data = {{ data.ftr_data | safe }};

         const drawScatter = function(){
             let margin = {top: 20, right: 20, bottom: 30, left: 40},
                            width = 400 - margin.left - margin.right,
                            height = 200 - margin.top - margin.bottom;

             let x = d3.scaleLinear()
                        .range([0, width]);

             let y = d3.scaleLinear()
                        .range([height, 0]);

             let xAxis = d3.axisBottom(x);

             let yAxis = d3.axisLeft(y);

             let svg = d3.select(".unemployment_chart").append("svg")
                            .attr("width", width + margin.left + margin.right)
                            .attr("height", height + margin.top + margin.bottom)
                            .append("g")
                            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

             d3.csv("{{ url_for('static',filename='data_files/csv/unemp_incident_rate.csv') }}", function(error, data) {
                 console.log(data);
                 if (error) throw error;

                 data.forEach(function (d) {
                     d.Rate = +d.Rate;
                     d.Incidents = +d.Incidents;
                 });

                 x.domain(d3.extent(data, function (d) {
                     return d.Rate;
                 })).nice();
                 y.domain(d3.extent(data, function (d) {
                     return d.Incidents;
                 })).nice();

                 svg.append("g")
                     .attr("class", "x axis")
                     .attr("transform", "translate(0," + height + ")")
                     .call(xAxis)
                     .append("text")
                     .attr("class", "label")
                     .attr("x", width)
                     .attr("y", -6)
                     .style("text-anchor", "end")
                     .text("Rate");

                 svg.append("g")
                     .attr("class", "y axis")
                     .call(yAxis)
                     .append("text")
                     .attr("class", "label")
                     .attr("transform", "rotate(-90)")
                     .attr("y", 6)
                     .attr("dy", ".71em")
                     .style("text-anchor", "end")
                     .text("Incidents");

                 svg.selectAll(".dot")
                     .data(data)
                     .enter().append("circle")
                     .attr("class", "dot")
                     .attr("r", 3.5)
                     .attr("cx", function (d) {
                         return x(d.Rate);
                     })
                     .attr("cy", function (d) {
                         return y(d.Incidents);
                     })
                     .style("fill", "blue");

             });
         };

         const drawPie = function(data) {
             console.log(data);
             var width = 960,
                    height = 500,
                    radius = Math.min(width, height) / 2;

             var color = d3.scaleOrdinal()
                            .range(["#98abc5", "#8a89a6", "#7b6888"]);

             var arc = d3.arc()
                            .outerRadius(radius - 10)
                            .innerRadius(0);

             var labelArc = d3.arc()
                                .outerRadius(radius - 40)
                                .innerRadius(radius - 40);

             var pie = d3.pie()
                            .sort(null)
                            .value(function(d) { return d; });

             var svg = d3.select(".m-pie-chart").append("svg")
                            .attr("width", width)
                            .attr("height", height)
                            .append("g")
                            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

             var g = svg.selectAll(".arc")
                        .data(pie(data))
                        .enter().append("g")
                        .attr("class", "arc");

             g.append("path")
                .attr("d", arc)
                .style("fill", function(d) { return color(d.data); });

                g.append("text")
                .attr("transform", function(d) { return "translate(" + labelArc.centroid(d) + ")"; })
                .attr("dy", ".35em")
                .text(function(d) { return d.data; });
         };

         const drawMatrix = function() {
            var width = 500,
                size = 230,
                padding = 20;

            var x = d3.scaleLinear()
                .range([padding / 2, size - padding / 2]);

            var y = d3.scaleLinear()
                .range([size - padding / 2, padding / 2]);

            var xAxis = d3.axisBottom()
                .scale(x)
                .ticks(6);

            var yAxis = d3.axisLeft()
                .scale(y)
                .ticks(6);

            var color = d3.scaleOrdinal(d3.schemeCategory10);

            d3.csv("{{ url_for('static',filename='data_files/csv/scatter_scale.csv') }}", function(error, data) {
              if (error) throw error;

              var domainByTrait = {},
                  traits = d3.keys(data[0]).filter(function(d) { return d !== "Year"; }),
                  n = traits.length;

              traits.forEach(function(trait) {
                domainByTrait[trait] = d3.extent(data, function(d) { return d[trait]; });
              });

              xAxis.tickSize(size * n);
              yAxis.tickSize(-size * n);

              var brush = d3.brush()
                  .on("start", brushstart)
                  .on("brush", brushmove)
                  .on("end", brushend)
                  .extent([[0,0],[size,size]]);

              var svg = d3.select(".scatter_matrix").append("svg")
                  .attr("width", size * n + padding)
                  .attr("height", size * n + padding)
                .append("g")
                  .attr("transform", "translate(" + padding + "," + padding / 2 + ")");

              svg.selectAll(".x.axis")
                  .data(traits)
                .enter().append("g")
                  .attr("class", "x axis")
                  .attr("transform", function(d, i) { return "translate(" + (n - i - 1) * size + ",0)"; })
                  .each(function(d) { x.domain(domainByTrait[d]); d3.select(this).call(xAxis); });

              svg.selectAll(".y.axis")
                  .data(traits)
                .enter().append("g")
                  .attr("class", "y axis")
                  .attr("transform", function(d, i) { return "translate(0," + i * size + ")"; })
                  .each(function(d) { y.domain(domainByTrait[d]); d3.select(this).call(yAxis); });

              var cell = svg.selectAll(".cell")
                  .data(cross(traits, traits))
                .enter().append("g")
                  .attr("class", "cell")
                  .attr("transform", function(d) { return "translate(" + (n - d.i - 1) * size + "," + d.j * size + ")"; })
                  .each(plot);

              // Titles for the diagonal.
              cell.filter(function(d) { return d.i === d.j; }).append("text")
                  .attr("x", padding)
                  .attr("y", padding)
                  .attr("dy", ".71em")
                  .text(function(d) { return d.x; });

              cell.call(brush);

              function plot(p) {
                var cell = d3.select(this);

                x.domain(domainByTrait[p.x]);
                y.domain(domainByTrait[p.y]);

                cell.append("rect")
                    .attr("class", "frame")
                    .attr("x", padding / 2)
                    .attr("y", padding / 2)
                    .attr("width", size - padding)
                    .attr("height", size - padding);

                cell.selectAll("circle")
                    .data(data)
                  .enter().append("circle")
                    .attr("cx", function(d) { return x(d[p.x]); })
                    .attr("cy", function(d) { return y(d[p.y]); })
                    .attr("r", 4)
                    .style("fill", "orange");
              }

              var brushCell;

              // Clear the previously-active brush, if any.
              function brushstart(p) {
                if (brushCell !== this) {
                  d3.select(brushCell).call(brush.move, null);
                  brushCell = this;
                x.domain(domainByTrait[p.x]);
                y.domain(domainByTrait[p.y]);
                }
              }

              // Highlight the selected circles.
              function brushmove(p) {
                var e = d3.brushSelection(this);
                svg.selectAll("circle").classed("hidden", function(d) {
                  return !e
                    ? false
                    : (
                      e[0][0] > x(+d[p.x]) || x(+d[p.x]) > e[1][0]
                      || e[0][1] > y(+d[p.y]) || y(+d[p.y]) > e[1][1]
                    );
                });
              }

              // If the brush is empty, select all circles.
              function brushend() {
                var e = d3.brushSelection(this);
                if (e === null) svg.selectAll(".hidden").classed("hidden", false);
              }
            });

            function cross(a, b) {
              var c = [], n = a.length, m = b.length, i, j;
              for (i = -1; ++i < n;) for (j = -1; ++j < m;) c.push({x: a[i], i: i, y: b[j], j: j});
              return c;
            }

         };

         drawScatter();
         drawPie(data);
         drawMatrix();


    </script>
</body>

</html>
