<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CSE564 Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png"  href= "{{ url_for('static',filename='styles/images/icon/favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/themify-icons.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/metisMenu.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/slicknav.min.css') }}">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/typography.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/default-css.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/styles.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/responsive.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/ethincmix.css') }}">
    <!-- modernizr css -->
    <script src="{{ url_for('static',filename='styles/js/vendor/modernizr-2.8.3.min.js') }}"></script>
	<!-- jquery latest version -->
    <script src="{{ url_for('static',filename='styles/js/vendor/jquery-2.2.4.min.js') }}"></script>
	<script>
		function change_button(){
			$('.page-container').toggleClass('sbar_collapsed2');
		}
		
		function on_change(){
			if($('.custom-control.custom-switch label').text() == 'Switch to Time Series Chart')
				$('.custom-control.custom-switch label').text('Switch to Bar Chart');
			else
				$('.custom-control.custom-switch label').text('Switch to Time Series Chart');
		}
	</script>
</head>

<style> /* set the CSS */

	.bar { fill: steelblue; }

    .axis--grid .domain {
        fill: #ddd;
        stroke: none;
    }

    .axis--x .domain,
    .axis--grid .tick line {
        stroke: #fff;
    }

    .axis--grid .tick--minor line {
        stroke-opacity: .5;
    }

	.border {
		border:1px solid black;
	}
	
	.border-bottom {
		border-bottom:1px solid #dee2e6;
	}
	
	.label-text {
		font-size:14px;
		width:180px;
		padding-top:2px;
		text-align:left;
	}

	.tile {
		width:70%;
		float:left;
		overflow:hidden
	}
	
	.tile-comp {
		width:15%;
		float:left;
		overflow:hidden
	}
	
	.tile-header {
		height:40%;
		background:steelblue;
		color:#ecf0f1;
		display:flex;
		align-items: center;
		justify-content: center;
	}
	
	.tile-header-left {
		align-items: left;
		justify-content: left;
	}
	
	.tile-content {
		height:60%;
		color:gray;
		display:flex;
		align-items: center;
		justify-content: center;
	}
		
	.tip {
		padding:4px;
		background:white;
		border-radius:6px;
	}

	.state{
		fill: none;
		stroke: #a9a9a9;
		stroke-width: 1;
	}

	.state:hover{
		fill-opacity:0.5;
	}

	#tooltip {   
		position: absolute;           
		margin: 10px;
		font: 12px sans-serif;        
		border: 1px;      
		pointer-events: none;         
	}

	#tooltip h4{
		margin:0;
		font-size:18px;
		color: plum;
	}

	#tooltip{
		position: absolute;           
		margin: 10px;
		font: 14px sans-serif;        
		pointer-events: none;   
		background:rgba(0,0,0,0.9);
		border:1px solid grey;
		border-radius:5px;
		width:auto;
		padding:4px;
		color:white;
		opacity:0;
	}
	#tooltip table{
		table-layout:fixed;
	}

	#tooltip tr td{
		padding:0;
		margin:0;
	}

	#tooltip tr td:nth-child(1){
		width:50px;
	}

	#tooltip tr td:nth-child(2){
		text-align:center;
	}
	
	.scrollable-menu {
		height: auto;
		max-height: 200px;
		overflow-x: hidden;
	}

</style>

<body onresize="change_button()">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="index.html"><img src="{{ url_for('static',filename='styles/images/icon/sbu_logo_dark.png') }}" width="100" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li>
                                <a href="home" aria-expanded="true"><i class="ti-pie-chart"></i><span>Home</span></a>
                            </li>
							<li>
                                <a href="maps" aria-expanded="true"><i class="ti-pie-chart"></i><span>Map Charts</span></a>
                            </li>
                            <li>
                                <a href="rmix" aria-expanded="true"><i class="ti-pie-chart"></i><span>Racial Distribution</span></a>
                            </li>
                            <li>
                                <a href="features" aria-expanded="true"><i class="ti-pie-chart"></i><span>Feature Analysis</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div>
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <!-- profile info & task notification -->
					<h3 class="center-align">TRENDS AT A GLANCE</h3>
                </div>
            </div>
            <!-- header area end -->
            <!-- page title area start -->
            <div class="page-title-area">
            </div>
			<div class="timeline-filter" align="center">
            </div>
            <div class="bar-scree">
				<h4 class="center-align" style="margin-top:10px">DISTRIBUTION OF INCIDENTS OVER THE YEARS</h4>
				<br>
				<div>
					<div class="border" style="float:left;width:15%;margin-left:12%">
						<div class="tile-header border">
							<center><h6>Incidents</h6></center>
						</div>
						<div class="tile-content">
							<h6 id="incidents">428</h6>
						</div>
					</div>
					<div class="border" style="float:left;width:15%;margin-left:5%">
						<div class="tile-header border">
							<center><h6>Fatalities</h6></center>
						</div>
						<div class="tile-content">
							<h6 id="fatalities">2165</h6>
						</div>
					</div>
					<div class="border" style="float:left;width:15%;margin-left:5%">
						<div class="tile-header border">
							<h6>Injuries</h6>
						</div>
						<div class="tile-content">
							<h6 id="injuries">2624</h6>
						</div>
					</div>
					<!-- Basic dropdown -->
					<div class="border" style="float:left;width:15%;margin-left:5%">
						<div class="tile-header tile-header-left border">
							<h6 style="padding-left:5px">Select state:</h6>
						</div>
						<select id="state-filter" style="width:100%">
							<option value="All">All</option>
							<option value="Alabama">Alabama</option>
							<option value="Alaska">Alaska</option>
							<option value="Arizona">Arizona</option>
							<option value="Arkansas">Arkansas</option>
							<option value="California">California</option>
							<option value="Colorado">Colorado</option>
							<option value="Connecticut">Connecticut</option>
							<option value="D.C.">D.C.</option>
							<option value="Delaware">Delaware</option>
							<option value="Florida">Florida</option>
							<option value="Georgia">Georgia</option>
							<option value="Hawaii">Hawaii</option>
							<option value="Idaho">Idaho</option>
							<option value="Illinois">Illinois</option>
							<option value="Indiana">Indiana</option>
							<option value="Iowa">Iowa</option>
							<option value="Kansas">Kansas</option>
							<option value="Kentucky">Kentucky</option>
							<option value="Louisiana">Louisiana</option>
							<option value="Maine">Maine</option>
							<option value="Maryland">Maryland</option>
							<option value="Massachusetts">Massachusetts</option>
							<option value="Michigan">Michigan</option>
							<option value="Minnesota">Minnesota</option>
							<option value="Mississippi">Mississippi</option>
							<option value="Missouri">Missouri</option>
							<option value="Montana">Montana</option>
							<option value="Nebraska">Nebraska</option>
							<option value="Nevada">Nevada</option>
							<option value="New Hampshire">New Hampshire</option>
							<option value="New Jersey">New Jersey</option>
							<option value="New Mexico">New Mexico</option>
							<option value="New York">New York</option>
							<option value="North Carolina">North Carolina</option>
							<option value="North Dakota">North Dakota</option>
							<option value="Ohio">Ohio</option>
							<option value="Oklahoma">Oklahoma</option>
							<option value="Oregon">Oregon</option>
							<option value="Pennsylvania">Pennsylvania</option>
							<option value="South Carolina">South Carolina</option>
							<option value="South Dakota">South Dakota</option>
							<option value="Tennessee">Tennessee</option>
							<option value="Texas">Texas</option>
							<option value="Utah">Utah</option>
							<option value="Vermont">Vermont</option>
							<option value="Virginia">Virginia</option>
							<option value="Washington">Washington</option>
							<option value="West Virginia">West Virginia</option>
							<option value="Wisconsin">Wisconsin</option>
							<option value="Wyoming">Wyoming</option>
						</select>
					</div>
<!-- Basic dropdown -->
                </div>
                <div class="year-chart" align="center">
                </div>
				<div class="custom-control custom-switch" align="center">
					<input type="checkbox" class="custom-control-input" onchange="on_change()" id="toggleVis" checked>
					<label class="custom-control-label label-text" for="toggleVis">Switch to Bar Chart</label>
				</div>
				<h4 class="center-align" style="margin-top:45px">STACKED BARCHART SHOWING TYPES OF VICTIMS</h4>
				<br>
                <div class="stack-chart" align="center">
                </div>
            </div>
        </div>
        <!-- main content area end -->
		<!-- 
        <footer>
            <div class="footer-area">
                <p>Dashboard developed by Hardik Singh Negi & Ayush Garg</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>
    <!-- page container area end -->
    <!-- bootstrap 4 js -->
    <!-- jquery latest version -->
    <script src="{{ url_for('static',filename='styles/js/vendor/jquery-2.2.4.min.js') }}"></script>
    <!-- bootstrap 4 js -->
    <script src="{{ url_for('static',filename='styles/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/metisMenu.min.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/jquery.slicknav.min.js') }}"></script>

    <!-- others plugins -->
    <script src="{{ url_for('static',filename='styles/js/plugins.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/scripts.js') }}"></script>
	
	<!-- US States -->
	<script src="{{ url_for('static',filename='styles/js/uStates.js') }}"></script>

    <!-- load the d3.js library -->
    <script src="http://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-selection-multi.v0.4.min.js"></script>
    <script src='https://npmcdn.com/babel-core@5.8.34/browser.min.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
	<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3-scale-radial.js"></script>

    <script lang="babel" type='text/babel'>
        let data;
        let toggleVar = 1;
		let start = new Date(1966, 1, 1);
		let end = new Date(2018, 12, 30);
        data = {{ data.incident_data | safe }};
		
		const getData = function(s, e){
			let postData = $.ajax({
				url: 'indexStat',
				type: 'POST',
				data: JSON.stringify({'s':s.getFullYear(), 'e':e.getFullYear(), 'state':document.getElementById("state-filter").value}),
				contentType: 'application/json;charset=UTF-8',
				async: false
			}).responseText;
			return postData;
		};

		const getYearData = function(){
			let postYearData = $.ajax({
				url: 'yearData',
				type: 'POST',
				data: JSON.stringify({'state':document.getElementById("state-filter").value}),
				contentType: 'application/json;charset=UTF-8',
				async: false
			}).responseText;
			return postYearData;
		};

		const getStackData = function(s,e){
		    let stackData =  $.ajax({
				url: 'stackChart',
				type: 'POST',
				data: JSON.stringify({'s':s.getFullYear(), 'e':e.getFullYear(), 'state':document.getElementById("state-filter").value}),
				contentType: 'application/json;charset=UTF-8',
				async: false
			}).responseText;
			return stackData;
        };

        const drawTimeline = function() {
            let margin = {top: 10, right: 40, bottom: 10, left: 10},
                width = 1000,
                height = 37;

            let range = [new Date(1966, 1, 1), new Date(2018, 12, 30) - 1];

            let x = d3.scaleTime()
                        .domain(range)
                        .rangeRound([0, width]);

            let svg = d3.select("div.timeline-filter").append("svg")
                        .attr("width", width + margin.left + margin.right)
                        .attr("height", height + margin.top + margin.bottom)
						.attr('class', 'timeline-svg')
                        .append("g")
                        .attr("transform", "translate(" + 30 + "," + 10 + ")");

            svg.append("g")
                .attr("class", "axis axis--grid")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x)
                .ticks(d3.timeYear, 1)
                .tickSize(-height)
                .tickFormat(function() { return null; }))
                .selectAll(".tick")
                .classed("tick--minor", function(d) { return d.getYear(); });

            svg.append("g")
                .attr("class", "axis")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x)
                .ticks(d3.timeYear)
                .tickPadding(0))
                .attr("text-anchor", null)
                .selectAll("text")
                .attr("transform", "rotate(-90)" )
                .attr("x", 6)
				.attr("y", -12);

            let brush = d3.brushX()
                            .extent([[0, 0], [width, height]])
                            .on("brush", brushmoved)
                            .on("end", brushended);

            let yearBrush = svg.append("g")
                                .attr("class", "brush")
                                .call(brush);

            // https://github.com/crossfilter/crossfilter/blob/gh-pages/index.html#L466
            var brushResizePath = function(d) {
                var e = +(d.type == "e"),
                    x = e ? 1 : -1,
                    y = height / 2;
                return "M" + (.5 * x) + "," + y + "A6,6 0 0 " + e + " " + (6.5 * x) + "," + (y + 6) + "V" + (2 * y - 6) + "A6,6 0 0 " + e + " " + (.5 * x) + "," + (2 * y) + "Z" + "M" + (2.5 * x) + "," + (y + 8) + "V" + (2 * y - 8) + "M" + (4.5 * x) + "," + (y + 8) + "V" + (2 * y - 8);
            };


            var handle = yearBrush.selectAll(".handle--custom")
            .data([{type: "w"}, {type: "e"}])
            .enter().append("path")
            .attr("class", "handle--custom")
            .attr("stroke", "#000")
            .attr("cursor", "ew-resize")
            .attr("d", brushResizePath);

            yearBrush.call(brush.move, range.map(x));

            function brushended() {
                if (!d3.event.sourceEvent) return; // Only transition after input.
                if (!d3.event.selection) return; // Ignore empty selections.
                var d0 = d3.event.selection.map(x.invert),
                d1 = d0.map(d3.timeYear.round);

  // If empty when rounded, use floor & ceil instead.
                if (d1[0] >= d1[1]) {
                    d1[0] = d3.timeYear.floor(d0[0]);
                    d1[1] = d3.timeYear.offset(d1[0]);
                }

                console.log(d1);
				start = d1[0];
				end = d1[1];
                d3.select(this).transition().call(d3.event.target.move, d1.map(x));
				drawVis(toggleVar, start, end);
            }

            function brushmoved() {
                let s = d3.event.selection;
                handle.attr("display", null).attr("transform", function(d, i) { return "translate(" + [ s[i], - height / 4] + ")"; });

            }
        };

        const drawBarChart = function (data, b, e) {
            //console.log(data);
			let start = b.getFullYear()
			let end = e.getFullYear()
			console.log(start)
			let filteredData = {}
			$.each( data, function( key, value ) {
				if(key >= start && key <= end)
					filteredData[key] = value
			});
			console.log(filteredData);
            //set the dimensions
            const margin = 200,
            width = 800,
            height = 250;

            //Append SVG to the plotchart div
            const svg = d3.select(".year-chart")
                        .append('svg')
                        .attr("class", "barchart")
                        .attr('width', 900)
                        .attr('height', 340);
			
            //Scale the axis
            const xScale = d3.scaleBand().range([0, width]).padding(0.4);
            const yScale = d3.scaleLinear().range([height, 0]);

            const g = svg.append("g")
                         .attr("transform", "translate(" + 50 + "," + 40 + ")");


            const yearList = Object.keys(filteredData);
            const incidentFrequency =  Object.values(filteredData);
			
			let tip = d3.tip()
						.attr('class', 'd3-tip')
						.offset([-10, 0]);
			
			svg.call(tip);

            xScale.domain(yearList);
            yScale.domain([0, d3.max(incidentFrequency)+10]);

            g.append("g") //Another group element to have our x-axis grouped under one group element
             .attr("transform", "translate(0," + height + ")") // We then use the transform attribute to shift our x-axis towards the bottom of the SVG.
             .call(d3.axisBottom(xScale)) //We then insert x-axis on this group element using .call(d3.axisBottom(x)).
             .selectAll("text")
                .style("text-anchor", "end")
                .attr("dx", "-.8em")
                .attr("dy", "-.55em")
                .attr("transform", "rotate(-90)" );

            g.append("g") //Another group element to have our y-axis grouped under one group element
                .call(d3.axisLeft(yScale).tickFormat(function(d){ // Try with X Scaling too.
                    return  d;
                })
                .ticks(10)) //We have also specified the number of ticks we would like our y-axis to have using ticks(10).
                .append("text")
                .attr("transform", "rotate(-90)")
				.attr("x", -100)
                .attr("y", -5)
                .attr("dy", "-3.1em")
                .attr("stroke", "black")
                .style("fill", "black")
                .style("font-size", "10px")
                .text("INCIDENTS FREQUENCY");

            g.selectAll(".bar") //created dynamic bars with our data using the SVG rectangle element.
                .data(yearList) // Load the data to be displayed
                .enter().append("rect") // Append rectangle bars
                .attr("class", "bar") // CSS class bars to give color to the bars
                .attr("x", function(d) {return xScale(d); })  //Determining x-axis from the scaled data
                .attr("y", function(d, i) { return yScale(incidentFrequency[i]); }) // //Determining y-axis from the scaled data
                .attr("width", xScale.bandwidth()) //Determining the width of bars by the scaleBand() function.
                .attr("height", function(d, i) {
                    return height - yScale(incidentFrequency[i]); })//Determining the height of the bars.
				.style('cursor', 'pointer')
				.on('mouseover', function(d, i){
					d3.select(this)
					.attr("x", xScale(yearList[i]) - 3)
					.attr("y", function(d) {
						return yScale(incidentFrequency[i]) - 15
					})      
					.attr("width", xScale.bandwidth() + 6)
					.attr("height", function(d) {
						return height - yScale(incidentFrequency[i]) + 15;
					})
					.style("fill", "#FFA500");
					
					tip.html("<div class='tip border'><strong>Incidents:</strong> <span style='color:red'>" + incidentFrequency[i] + "</span></div>");
					tip.show();
				})
				.on('mouseout', function(d, i){
					d3.select(this)
					.attr("x", xScale(d))
					.attr("y", function(d) {
						return yScale(incidentFrequency[i])
					})      
					.attr("width", xScale.bandwidth())
					.attr("height", function(d) {
						return height - yScale(incidentFrequency[i])
					})
					.style("fill", "steelblue")
					.style('cursor', 'pointer');
					
					tip.hide();
				})
        };

        const drawScree  = function(data, startYear, endYear) {

            const margin = { top: 20, right: 50, bottom: 30, left: 50 },
            width = 800,
            height = 250;

            const parseTime = d3.timeParse('%d-%b-%Y');
            const bisectDate = d3.bisector(d => d.date).left;

            d3.select('.year-chart')
            .style('font', '10px sans-serif');

            const x = d3.scaleTime()
            .range([0, width]);

            const y = d3.scaleLinear()
            .range([height, 0]);

            const line = d3.line()
            .x(d => x(d.date))
            .y(d => y(d.count));

            const svg = d3.select('.year-chart').append('svg')
            .attr('width', 900)
            .attr('height', 340)
            .append('g')
            .attr("transform", "translate(" + 50 + "," + 40 + ")");

                for (var i=0; i<data.length; i++){
                    data[i]['date'] = new Date(data[i]['date']);
                }

				data.sort((a, b) => a.date - b.date);
				
				let filteredData = [];
				for(var i = 0; i < data.length; i++) {
					if(data[i]['date'].getFullYear() >= startYear.getFullYear() && data[i]['date'].getFullYear() <= endYear.getFullYear())
						filteredData.push(data[i])
				}

				
				x.domain([filteredData[0].date, filteredData[filteredData.length - 1].date]);
				y.domain(d3.extent(filteredData, d => d.count));

				svg.append('g')
				  .attr('class', 'x axis axis--x')
				  .attr("transform", "translate(0," + height + ")")
				  .call(d3.axisBottom(x));

				svg.append('g')
				  .attr('class', 'y axis axis--y')
				  .call(d3.axisLeft(y))
					.append("text")
					.attr("transform", "rotate(-90)")
					.attr("x", -100)
					.attr("y", -5)
					.attr("dy", "-3.1em")
					.attr("stroke", "black")
					.style("fill", "black")
					.style("font-size", "10px")
					.text("INCIDENTS FREQUENCY");

				// style the axes
				d3.selectAll('div.year-chart .axis path')
				  .styles({
					fill: 'none',
					stroke: '#000',
					'shape-rendering': 'crispEdges'
				  });

				d3.selectAll('div.year-chart .axis line')
				  .styles({
					fill: 'none',
					stroke: '#000',
					'shape-rendering': 'crispEdges'
				  });

				d3.selectAll('div.year-chart .axis--x path')
				  .style('display', 'none');

				svg.append('path')
				  .datum(filteredData)
				  .attr('class', 'line')
				  .style("fill", "none")
				  .attr('d', line);

				const focus = svg.append('g')
				  .attr('class', 'focus')
				  .style('display', 'none');

				focus.append('line')
				  .classed('x', true);

				focus.append('line')
				  .classed('y', true);

				focus.append('text')
				  .attr('x', 9)
				  .attr('dy', '.35em')
				  .attr('font-size', '12px')
				  .attr('font-weight', 'bold');
				 
				focus.append('circle')
				  .attr('r', 4.5);

				svg.append('rect')
				  .attr('class', 'my-overlay')
				  .attr('width', width)
				  .attr('height', height)
				  .on('mouseover', () => focus.style('display', null))
				  .on('mouseout', () => focus.style('display', 'none'))
				  .on('mousemove', mousemove);

				d3.selectAll('.line')
				  .styles({
					fill: 'none',
					stroke: 'steelblue',
					'stroke-width': '1.5px'
				  });

				d3.select('.my-overlay')
				  .styles({
					fill: 'none',
					'pointer-events': 'all'
				  });

				d3.selectAll('.focus')
				  .style('opacity', 0.7);

				d3.selectAll('.focus circle')
				  .styles({
					fill: '#FFA500',
				  });

				d3.selectAll('.focus line')
				  .styles({
					fill: 'none',
					'stroke': 'black',
					'stroke-width': '1.5px',
					'stroke-dasharray': '3 3'
				  });

				function mousemove() {
					const x0 = x.invert(d3.mouse(this)[0]);
					const i = bisectDate(filteredData, x0, 1);
					const d0 = filteredData[i - 1];
					const d1 = filteredData[i];
					const d = x0 - d0.date > d1.date - x0 ? d1 : d0;
					focus.attr('transform', `translate(${x(d.date)}, ${y(d.count)})`);
					focus.select('line.x')
					.attr('x1', 0)
					.attr('x2', -x(d.date))
					.attr('y1', 0)
					.attr('y2', 0);

					focus.select('line.y')
					.attr('x1', 0)
					.attr('x2', 0)
					.attr('y1', 0)
					.attr('y2', height - y(d.count));

					focus.select('text').text(d.count);
				}

        };

        const stackChart = function(data) {
            let svg = d3.select(".stack-chart")
						.append('svg')
						.attr('width', 900)
						.attr('height', 340);
            
            let width = 800,
                height = 250,
                g = svg.append("g").attr("transform", "translate(" + 50 + "," + 40 + ")");

            let x = d3.scaleBand()
                        .rangeRound([0, width])
                        .paddingInner(0.05)
                        .align(0.1);

            // set y scale
            let y = d3.scaleLinear()
                        .rangeRound([height, 0]);

            let z = d3.scaleOrdinal()
                        .range(["#FFA500", "#F87E2C"]);


				console.log(data);
				console.log("test");


				var keys = ["Dead", "Injured"];


				x.domain(data.map(function(d) { return d.Year; }));
				y.domain([0, 800]);
				z.domain(keys);

				g.append("g")
				.selectAll("g")
				.data(d3.stack().keys(keys)(data))
				.enter().append("g")
				.attr("fill", function(d) { return z(d.key); })
				.selectAll("rect")
				.data(function(d) { return d; })
				.enter().append("rect")
				.attr("x", function(d) { return x(d.data.Year); })
				.attr("y", function(d) { return y(d[1]); })
				.attr("height", function(d) { return y(d[0]) - y(d[1]); })
				.attr("width", x.bandwidth())
				.style('cursor', 'pointer')
				.on("mouseover", function() { tooltip.style("visibility", "visible"); })
				.on("mouseout", function() { tooltip.style("visibility", "hidden"); })
				.on("mousemove", function(d) {
						console.log(d);
						var xPosition = d3.mouse(this)[0] - 5;
						var yPosition = d3.mouse(this)[1] - 5;
						tooltip.attr("transform", "translate(" + xPosition + "," + yPosition + ")");
						tooltip.select("text").text(d[1]-d[0]);
				});

            g.append("g")
                .attr("class", "axis")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x))
				.selectAll("text")
				.style("text-anchor", "end")
                .attr("dx", "-.8em")
                .attr("dy", "-.55em")
                .attr("transform", "rotate(-90)" );

            g.append("g")
                .attr("class", "axis")
                .call(d3.axisLeft(y).ticks(null, "s"))
                .append("text")
                .attr("y", y(y.ticks().pop()) + 0.5)
                .attr("transform", "rotate(-90)")
				.attr("x", -100)
                .attr("y", -6)
                .attr("dy", "-3.1em")
                .attr("stroke", "black")
                .style("fill", "black")
                .style("font-size", "10px")
                .text("VICTIMS");

            var legend = g.append("g")
                            .attr("font-family", "sans-serif")
                            .attr("font-size", 10)
                            .attr("text-anchor", "end")
                            .selectAll("g")
                            .data(keys.slice().reverse())
                            .enter().append("g")
                            .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

            legend.append("rect")
                    .attr("x", 49)
                    .attr("width", 19)
                    .attr("height", 19)
                    .attr("fill", z);

            legend.append("text")
                    .attr("x", 44)
                    .attr("y", 9.5)
                    .attr("dy", "0.32em")
                    .text(function(d) { return d; });


  // Prep the tooltip bits, initial display is hidden
        var tooltip = svg.append("g")
                        .style("visibility", "hidden");

        tooltip.append("rect")
                .attr("width", 60)
                .attr("height", 20)
                .attr("fill", "white")
                .style("opacity", 0.5);

        tooltip.append("text")
                .attr("x", 30)
                .attr("dy", "1.2em")
                .style("text-anchor", "middle")
                .attr("font-size", "12px")
                .attr("font-weight", "bold")
				.attr("color", "black");


        };

        const drawVis = function(toggleIndex, yearStart, yearEnd) {

            let statData = JSON.parse(getData(yearStart, yearEnd));
			document.getElementById('incidents').innerHTML = statData['incidents'];
			document.getElementById('injuries').innerHTML = statData['injuries'];
			document.getElementById('fatalities').innerHTML = statData['fatalities'];
			document.querySelector(".year-chart").innerHTML = '';
			document.querySelector(".stack-chart").innerHTML = '';

            let yearData = JSON.parse(getYearData());

            let stackData  = JSON.parse(getStackData(yearStart,yearEnd));
            console.log("test");
            console.log(stackData);
            console.log("test2");

            stackChart(stackData);

            if (toggleIndex == 1) {
				drawScree(yearData['scree'], yearStart, yearEnd);
            }
            else {
				drawBarChart(yearData['bar'], yearStart, yearEnd);
            }
        };



        $(function() {
            $('#toggleVis').change(function() {
               toggleVar =  toggleVar == 2 ? 1 : 2;
               console.log(toggleVar);
               document.querySelector(".year-chart").innerHTML = '';
               drawVis(toggleVar, start, end);
            })
        });

        $(function() {
            $( "#state-filter" ).change(function() {
                drawVis(toggleVar, start, end);
            });
        });


        drawVis(toggleVar, start, end);
		drawTimeline()

    </script>
</body>

</html>
