<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CSE564 Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png"  href= "{{ url_for('static',filename='styles/images/icon/favicon.ico') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/themify-icons.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/metisMenu.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/slicknav.min.css') }}">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/typography.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/default-css.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/styles.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/responsive.css') }}">
    <!-- modernizr css -->
    <script src="{{ url_for('static',filename='styles/js/vendor/modernizr-2.8.3.min.js') }}"></script>
	<script>
		function change_button(){
			$('.page-container').toggleClass('sbar_collapsed2');
		}
	</script>
</head>

<style> /* set the CSS */

	.bar { fill: steelblue; }

	.border {
		border:1px solid black;
	}

	.tile {
		border:1px solid black;
		width:50%;
		min-height:100px;
		float:left;
	}

	.tip {
		padding:4px;
		background:white;
		border-radius:6px;
	}

	.state{
		fill: none;
		stroke: #a9a9a9;
		stroke-width: 1;
	}

	.state:hover{
		fill-opacity:0.5;
	}

	#tooltip {   
		position: absolute;           
		margin: 10px;
		font: 12px sans-serif;        
		border: 1px;      
		pointer-events: none;         
	}

	#tooltip h4{
		margin:0;
		font-size:18px;
		color: plum;
	}

	#tooltip{
		position: absolute;           
		margin: 10px;
		font: 14px sans-serif;        
		pointer-events: none;   
		background:rgba(0,0,0,0.9);
		border:1px solid grey;
		border-radius:5px;
		width:auto;
		padding:4px;
		color:white;
		opacity:0;
	}
	#tooltip table{
		table-layout:fixed;
	}

	#tooltip tr td{
		padding:0;
		margin:0;
	}

	#tooltip tr td:nth-child(1){
		width:50px;
	}

	#tooltip tr td:nth-child(2){
		text-align:center;
	}

</style>

<body onresize="change_button()">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="index.html"><img src="{{ url_for('static',filename='styles/images/icon/sbu_logo_dark.png') }}" width="100" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li>
                                <a href="home" aria-expanded="true"><i class="ti-pie-chart"></i><span>Home</span></a>
                            </li>
							<li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-pie-chart"></i><span>Map Charts</span></a>
                                <ul class="collapse">
                                    <li><a href="maps">Incidents Chart</a></li>
                                    <li><a href="#">Race Chart</a></li>
                                    <li><a href="#">pie chart</a></li>
                                </ul>
                            </li>							
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <!-- profile info & task notification -->
                </div>
            </div>
            <!-- header area end -->
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6" style="padding:15px 0 15px 0">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Dashboard</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="home">Home</a></li>
                                <li><span>Dashboard</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->
            <div class="year-chart border" align="center">
				<div id="tooltip"></div>
            </div>
			<div class="tile">
				Visual #2
            </div>
			<div class="tile">
				Visual #3
            </div>
        </div>
        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>Dashboard developed by Hardik Singh Negi & Ayush Garg</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>
    <!-- page container area end -->
    <!-- jquery latest version -->
    <script src="{{ url_for('static',filename='styles/js/vendor/jquery-2.2.4.min.js') }}"></script>
    <!-- bootstrap 4 js -->
    <script src="{{ url_for('static',filename='styles/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/metisMenu.min.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/jquery.slicknav.min.js') }}"></script>

    <!-- others plugins -->
    <script src="{{ url_for('static',filename='styles/js/plugins.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/scripts.js') }}"></script>
	
	<!-- US States -->
	<script src="{{ url_for('static',filename='styles/js/uStates.js') }}"></script>

    <!-- load the d3.js library -->
    <script src="http://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-selection-multi.v0.4.min.js"></script>
    <script src='https://npmcdn.com/babel-core@5.8.34/browser.min.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
	<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script lang="babel" type='text/babel'>
        let data;
        data = {{ data.incident_data | safe }};

        const drawBarChart = function (data) {
            console.log(data);
            //set the dimensions
            const margin = 200,
            width = 900 - 100,
            height = 500 - margin;

            //Append SVG to the plotchart div
            const svg = d3.select(".year-chart")
                        .append('svg')
                        .attr("class", "barchart")
                        .attr('width', 900)
                        .attr('height', 400)
			
            //Scale the axis
            const xScale = d3.scaleBand().range([0, width]).padding(0.4);
            const yScale = d3.scaleLinear().range([height, 0]);

            const g = svg.append("g")
                         .attr("transform", "translate(" + 50 + "," + 40 + ")");


            const yearList = Object.keys(data);
            const incidentFrequency =  Object.values(data);
			
			let tip = d3.tip()
						.attr('class', 'd3-tip')
						.offset([-10, 0])
						.html(function(d, i) {
							return "<div class='tip border'><strong>Frequency:</strong> <span style='color:red'>" + incidentFrequency[i] + "</span></div>";
						  })
			
			svg.call(tip);

            xScale.domain(yearList);
            yScale.domain([0, d3.max(incidentFrequency)+10]);

            g.append("g") //Another group element to have our x-axis grouped under one group element
             .attr("transform", "translate(0," + height + ")") // We then use the transform attribute to shift our x-axis towards the bottom of the SVG.
             .call(d3.axisBottom(xScale)) //We then insert x-axis on this group element using .call(d3.axisBottom(x)).
             .selectAll("text")
                .style("text-anchor", "end")
                .attr("dx", "-.8em")
                .attr("dy", "-.55em")
                .attr("transform", "rotate(-90)" );

            g.append("g") //Another group element to have our y-axis grouped under one group element
                .call(d3.axisLeft(yScale).tickFormat(function(d){ // Try with X Scaling too.
                    return  d;
                })
                .ticks(10)) //We have also specified the number of ticks we would like our y-axis to have using ticks(10).
                .append("text")
                .attr("transform", "rotate(-90)")
				.attr("x", -100)
                .attr("y", -5)
                .attr("dy", "-3.1em")
                .attr("stroke", "black")
                .style("fill", "black")
                .style("font-size", "10px")
                .text("INCIDENTS FREQUENCY");

            g.selectAll(".bar") //created dynamic bars with our data using the SVG rectangle element.
                .data(yearList) // Load the data to be displayed
                .enter().append("rect") // Append rectangle bars
                .attr("class", "bar") // CSS class bars to give color to the bars
                .attr("x", function(d) {return xScale(d); })  //Determining x-axis from the scaled data
                .attr("y", function(d, i) { return yScale(incidentFrequency[i]); }) // //Determining y-axis from the scaled data
                .attr("width", xScale.bandwidth()) //Determining the width of bars by the scaleBand() function.
                .attr("height", function(d, i) {
                    return height - yScale(incidentFrequency[i]); })//Determining the height of the bars.
				.style('cursor', 'pointer')
				.on('mouseover', tip.show)
				.on('mouseout', tip.hide)
        };

        const drawScree  = function() {
            const margin = { top: 20, right: 50, bottom: 30, left: 50 },
            width = 800,
            height = 300;

            const parseTime = d3.timeParse('%d-%b-%Y');
            const bisectDate = d3.bisector(d => d.date).left;

            d3.select('.year-chart')
            .style('font', '10px sans-serif');

            const x = d3.scaleTime()
            .range([0, width]);

            const y = d3.scaleLinear()
            .range([height, 0]);

            const line = d3.line()
            .x(d => x(d.date))
            .y(d => y(d.count));

            const svg = d3.select('.year-chart').append('svg')
            .attr('width', width + margin.left + margin.right)
            .attr('height', height + margin.top + margin.bottom)
            .append('g')
              .attr('transform', `translate(${margin.left}, ${margin.top})`);

            d3.csv("{{ url_for('static',filename='data_files/csv/scree_index.csv') }}", type, (error, data) => {
            if (error) throw error;
            console.log('hello');
            console.log(data);
            data.sort((a, b) => a.date - b.date);

            x.domain([data[0].date, data[data.length - 1].date]);
            y.domain(d3.extent(data, d => d.count));

            svg.append('g')
              .attr('class', 'x axis axis--x')
              .attr('transform', `translate(0, ${height})`)
              .call(d3.axisBottom(x));

            svg.append('g')
              .attr('class', 'y axis axis--y')
              .call(d3.axisLeft(y))
              .append('text')
                .attr('class', 'axis-title')
                .attr('transform', 'rotate(-90)')
                .attr('y', 6)
                .attr('dy', '.71em')
                .style('text-anchor', 'end')
                .text('Price ($)');

            // style the axes
            d3.selectAll('.axis path')
              .styles({
                fill: 'none',
                stroke: '#000',
                'shape-rendering': 'crispEdges'
              });

            d3.selectAll('.axis line')
              .styles({
                fill: 'none',
                stroke: '#000',
                'shape-rendering': 'crispEdges'
              });

            d3.selectAll('.axis--x path')
              .style('display', 'none');

            svg.append('path')
              .datum(data)
              .attr('class', 'line')
              .attr('d', line);

            const focus = svg.append('g')
              .attr('class', 'focus')
              .style('display', 'none');

            focus.append('circle')
              .attr('r', 4.5);

            focus.append('line')
              .classed('x', true);

            focus.append('line')
              .classed('y', true);

            focus.append('text')
              .attr('x', 9)
              .attr('dy', '.35em');

            svg.append('rect')
              .attr('class', 'overlay')
              .attr('width', width)
              .attr('height', height)
              .on('mouseover', () => focus.style('display', null))
              .on('mouseout', () => focus.style('display', 'none'))
              .on('mousemove', mousemove);

            d3.selectAll('.line')
              .styles({
                fill: 'none',
                stroke: 'steelblue',
                'stroke-width': '1.5px'
              });

            d3.select('.overlay')
              .styles({
                fill: 'none',
                'pointer-events': 'all'
              });

            d3.selectAll('.focus')
              .style('opacity', 0.7);

            d3.selectAll('.focus circle')
              .styles({
                fill: 'none',
                stroke: 'black'
              });

            d3.selectAll('.focus line')
              .styles({
                fill: 'none',
                'stroke': 'black',
                'stroke-width': '1.5px',
                'stroke-dasharray': '3 3'
              });

            function mousemove() {
                const x0 = x.invert(d3.mouse(this)[0]);
                const i = bisectDate(data, x0, 1);
                const d0 = data[i - 1];
                const d1 = data[i];
                const d = x0 - d0.date > d1.date - x0 ? d1 : d0;
                focus.attr('transform', `translate(${x(d.date)}, ${y(d.count)})`);
                focus.select('line.x')
                .attr('x1', 0)
                .attr('x2', -x(d.date))
                .attr('y1', 0)
                .attr('y2', 0);

                focus.select('line.y')
                .attr('x1', 0)
                .attr('x2', 0)
                .attr('y1', 0)
                .attr('y2', height - y(d.count));

                focus.select('text').text(d.count);
            }
            });

            function type(d) {
                d.date = parseTime(d.date);
                d.count = +d.count;
                return d;
            }
        };
		
        drawBarChart(data);
        drawScree();
    </script>
</body>

</html>
