<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>CSE564 Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png"  href= "{{ url_for('static',filename='styles/images/icon/favicon.ico') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/themify-icons.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/metisMenu.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/slicknav.min.css') }}">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/typography.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/default-css.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/styles.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/responsive.css') }}">
    <!-- modernizr css -->
    <script src="{{ url_for('static',filename='styles/js/vendor/modernizr-2.8.3.min.js') }}"></script>
	<script>
		function change_button(){
			$('.page-container').toggleClass('sbar_collapsed2');
		}
	</script>
</head>

<style> /* set the CSS */

	.bar { fill: steelblue; }

	.border {
		border:1px solid black;
	}

	.tile {
		border:1px solid black;
		width:50%;
		min-height:100px;
		float:left;
	}

	.tip {
		padding:4px;
		background:white;
		border-radius:6px;
	}

	.state{
		fill: none;
		stroke: #a9a9a9;
		stroke-width: 1;
	}

	.state:hover{
		fill-opacity:0.5;
	}

	#tooltip {   
		position: absolute;           
		margin: 10px;
		font: 12px sans-serif;        
		border: 1px;      
		pointer-events: none;         
	}

	#tooltip h4{
		margin:0;
		font-size:18px;
		color: plum;
	}

	#tooltip{
		position: absolute;           
		margin: 10px;
		font: 14px sans-serif;        
		pointer-events: none;   
		background:rgba(0,0,0,0.9);
		border:1px solid grey;
		border-radius:5px;
		width:auto;
		padding:4px;
		color:white;
		opacity:0;
	}
	#tooltip table{
		table-layout:fixed;
	}

	#tooltip tr td{
		padding:0;
		margin:0;
	}

	#tooltip tr td:nth-child(1){
		width:50px;
	}

	#tooltip tr td:nth-child(2){
		text-align:center;
	}

    .axis--grid .domain {
        fill: #ddd;
        stroke: none;
    }

    .axis--x .domain,
    .axis--grid .tick line {
        stroke: #fff;
    }

    .axis--grid .tick--minor line {
        stroke-opacity: .5;
    }


</style>

<body onresize="change_button()">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="index.html"><img src="{{ url_for('static',filename='styles/images/icon/sbu_logo_dark.png') }}" width="100" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                           <li>
                                <a href="home" aria-expanded="true"><i class="ti-pie-chart"></i><span>Home</span></a>
                            </li>
							<li>
                                <a href="maps" aria-expanded="true"><i class="ti-pie-chart"></i><span>Map Charts</span></a>
                            </li>
                            <li>
                                <a href="rmix" aria-expanded="true"><i class="ti-pie-chart"></i><span>Racial Distribution</span></a>
                            </li>
                            <li>
                                <a href="features" aria-expanded="true"><i class="ti-pie-chart"></i><span>Feature Analysis</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div>
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <!-- profile info & task notification -->
					<h3 class="center-align">GEOGRAPHICAL TRENDS</h3>
                </div>
            </div>
            <!-- header area end -->
            <!-- page title area start -->
            <div class="page-title-area">
            </div>
            <div class="timeline-filter" align="center">

            </div>
            <!-- page title area end -->
            <div id="tooltip"></div>
			<h4 class="center-align" style="margin-top:10px">COUNTRYWIDE DISTRIBUTION OF MASS SHOOTING INCIDENTS</h4>
			<br>
            <div class="year-chart" align="center">
            </div>
			<br>
			<br>
			<br>
			<h4 class="center-align">STATEWIDE DISTRIBUTION OF MASS SHOOTING INCIDENTS</h4>
			<div class="circular-chart" align="center">
            </div>
        </div>
        <!-- main content area end -->
    </div>
    <!-- page container area end -->
    <!-- jquery latest version -->
    <script src="{{ url_for('static',filename='styles/js/vendor/jquery-2.2.4.min.js') }}"></script>
    <!-- bootstrap 4 js -->
    <script src="{{ url_for('static',filename='styles/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/metisMenu.min.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/jquery.slicknav.min.js') }}"></script>

    <!-- others plugins -->
    <script src="{{ url_for('static',filename='styles/js/plugins.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/scripts.js') }}"></script>
	
	<!-- US States -->
	<script src="{{ url_for('static',filename='styles/js/uStates.js') }}"></script>

    <!-- load the d3.js library -->
    <script src="http://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-selection-multi.v0.4.min.js"></script>
    <script src='https://npmcdn.com/babel-core@5.8.34/browser.min.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
	<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3-scale-radial.js"></script>

    <script lang="babel" type='text/babel'>
		let toggleVar = 1;
		let yearStart = new Date(1966, 1, 1);
		let yearEnd = new Date(2018, 1, 1);

		let data;
		data = {{ data.init_data | safe }};

		console.log(data);

		const getData = function(start, end){
			var postData = $.ajax({
				url: 'getStateDataByYear',
				type: 'POST',
				data: JSON.stringify({'s':start.getFullYear(), 'e':end.getFullYear()}),
				contentType: 'application/json;charset=UTF-8',
				async: false
			}).responseText;

			return postData;
		};

		
        const drawTimeline = function() {

            let margin = {top: 10, right: 40, bottom: 10, left: 10},
                width = 1000,
                height = 37;

            let range = [new Date(1966, 1, 1), new Date(2018, 12, 30) - 1];

            let x = d3.scaleTime()
                        .domain(range)
                        .rangeRound([0, width]);

            let svg = d3.select("div.timeline-filter").append("svg")
                        .attr("width", width + margin.left + margin.right)
                        .attr("height", height + margin.top + margin.bottom)
						.attr('class', 'timeline-svg')
                        .append("g")
                        .attr("transform", "translate(" + 30 + "," + 10 + ")");

            svg.append("g")
                .attr("class", "axis axis--grid")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x)
                .ticks(d3.timeYear, 1)
                .tickSize(-height)
                .tickFormat(function() { return null; }))
                .selectAll(".tick")
                .classed("tick--minor", function(d) { return d.getYear(); });

            svg.append("g")
                .attr("class", "axis")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x)
                .ticks(d3.timeYear)
                .tickPadding(0))
                .attr("text-anchor", null)
                .selectAll("text")
                .attr("transform", "rotate(-90)" )
                .attr("x", 6)
				.attr("y", -12);

            let brush = d3.brushX()
                            .extent([[0, 0], [width, height]])
                            .on("brush", brushmoved)
                            .on("end", brushended);

            let yearBrush = svg.append("g")
                                .attr("class", "brush")
                                .call(brush);

            // https://github.com/crossfilter/crossfilter/blob/gh-pages/index.html#L466
            var brushResizePath = function(d) {
                var e = +(d.type == "e"),
                    x = e ? 1 : -1,
                    y = height / 2;
                return "M" + (.5 * x) + "," + y + "A6,6 0 0 " + e + " " + (6.5 * x) + "," + (y + 6) + "V" + (2 * y - 6) + "A6,6 0 0 " + e + " " + (.5 * x) + "," + (2 * y) + "Z" + "M" + (2.5 * x) + "," + (y + 8) + "V" + (2 * y - 8) + "M" + (4.5 * x) + "," + (y + 8) + "V" + (2 * y - 8);
            };


            var handle = yearBrush.selectAll(".handle--custom")
            .data([{type: "w"}, {type: "e"}])
            .enter().append("path")
            .attr("class", "handle--custom")
            .attr("stroke", "#000")
            .attr("cursor", "ew-resize")
            .attr("d", brushResizePath);

            yearBrush.call(brush.move, range.map(x));

            function brushended() {
                if (!d3.event.sourceEvent) return; // Only transition after input.
                if (!d3.event.selection) return; // Ignore empty selections.
                var d0 = d3.event.selection.map(x.invert),
                d1 = d0.map(d3.timeYear.round);

  // If empty when rounded, use floor & ceil instead.
                if (d1[0] >= d1[1]) {
                    d1[0] = d3.timeYear.floor(d0[0]);
                    d1[1] = d3.timeYear.offset(d1[0]);
                }

                //console.log(d1);
				yearStart = d1[0];
				yearEnd = d1[1];
                d3.select(this).transition().call(d3.event.target.move, d1.map(x));
                let status = getData(yearStart, yearEnd);

                status = JSON.parse(status);
                console.log(status['data']);
				data = status['data']
				drawVis(toggleVar, yearStart, yearEnd);
            }

            function brushmoved() {
                let s = d3.event.selection;
                handle.attr("display", null).attr("transform", function(d, i) { return "translate(" + [ s[i], - height / 4] + ")"; });

            }
        };

		const tooltipHtml = function (n, cases){	/* function to create html content string in tooltip div. */

		    if (isNaN(cases)){
		        cases = 0;
            }
			return "<h4>"+n+"</h4><table>"+
				"<tr><td>Incidents:&nbsp;</td><td>"+(cases)+"</td></tr></table>";
		};
		
		const drawBarUSChart = function (data) {
            //Append SVG to the plotchart div
            const svg = d3.select(".year-chart")
                        .append('svg')
                        .attr("class", "barchart")
						.attr("id", "statesvg")
                        .attr('width', 930)
                        .attr('height', 600);
			
            let us_state_data = [];
			
			
			data.forEach(function (d) {
				us_state_data.push({"state": d.state, "cases": +d.cases});  
			});


			//to find max value in an array
			var sampleData = [];	/* Sample random data. */	
			let start = d3.max([1,d3.min(us_state_data, function(d) {return d.cases; })]);
			let end = 1 + d3.max(us_state_data, function (d) { return d.cases });
	
			// Log Scale, starting number had to be greater than or equal to 1 to not break color coding
			const logScale = d3.scaleLog().domain([start, end])
			const colorScaleLog = d3.scaleSequential(
				(d) => {
					return d3.interpolateOranges(logScale(d))
				}
			);
	
			us_state_data.forEach(function(d){
				uStatePaths.forEach(function (s) {
					if (d.state == s.n) { 
						d.n = s.n;
						d.d = s.d;
						d.id = s.id;
					}
				});

				let cases = +d.cases;
				
				sampleData.push({
				   n: d.n,
				   state: d.state,
				   cases: cases,
				   path: d.d,
				   color: colorScaleLog(cases),
				   color2:d3.interpolate("#000000", "#ffffff")(Math.round(cases)/100)});
			});
			
			/* draw states on id #statesvg */	
			uStates.draw("#statesvg", sampleData, tooltipHtml);
			d3.select(self.frameElement).style("height", "600px");
				
        };

        const drawRadialBar = function(data) {
            console.log(data);
            const margin = {top: 50, right: 0, bottom: 0, left: 0},
            width = 460 - margin.left - margin.right,
            height = 460 - margin.top - margin.bottom,
            innerRadius = 90,
            outerRadius = Math.min(width, height) / 2;
			

            const svg = d3.select(".circular-chart")
                        .append("svg")
                        .attr("width", width + margin.left + margin.right)
                        .attr("height", height + margin.top + margin.bottom)
                        .append("g")
                        .attr("transform", "translate(" + (width / 2 + margin.left) + "," + (height / 2 + margin.top) + ")");

                const x = d3.scaleBand()
                            .range([0, 2 * Math.PI])    // X axis goes from 0 to 2pi = all around the circle. If I stop at 1Pi, it will be around a half circle
                            .align(0)                  // This does nothing
                            .domain(data.map(function(d) { return d.state; })); // The domain of the X axis is the list of states.
                const y = d3.scaleRadial()
                            .range([innerRadius, outerRadius])   // Domain will be define later.
                            .domain([0, 60]); // Domain of Y is from 0 to the max seen in the data
				
				function toolTip(selection) {

					// add tooltip (svg circle element) when mouse enters label or slice
					selection.on('mouseenter', function (data) {

						svg.append('text')
							.attr('class', 'toolCircle')
							.attr('dy', -15) // hard-coded. can adjust this to adjust text vertical alignment in tooltip
							.html(toolTipHTML(data)) // add text to the circle.
							.style('font-size', '.9em')
							.style('text-anchor', 'middle'); // centres text in tooltip

						svg.append('circle')
							.attr('class', 'toolCircle')
							.attr('r', outerRadius * 0.45) // radius of tooltip circle
							.style('fill', '#1abc9c') // colour based on category mouse is over
							.style('fill-opacity', 0.35);

					});

					// remove the tooltip when mouse leaves the slice/label
					selection.on('mouseout', function () {
						d3.selectAll('.toolCircle').remove();
					});
				}
				
				function toolTipHTML(data) {
					{#console.log(data)#}
					var tip = '',

					tip = '<tspan x="0" dy="0.1em">State: ' + data.state + '</tspan>';
					tip += '<tspan x="0" dy="1.3em">Incidents: ' + data.cases + '</tspan>';
						
					return tip;
				}
  // Add the bars
                svg.append("g")
                    .selectAll("path")
                    .data(data)
                    .enter()
                    .append("path")
                    .attr("fill", "#69b3a2")
					.style("cursor", "pointer")
                    .attr("d", d3.arc()     // imagine your doing a part of a donut plot
                    .innerRadius(innerRadius)
                    .outerRadius(function(d) { return y(d.cases); })
                    .startAngle(function(d) { return x(d.state); })
                    .endAngle(function(d) { return x(d.state) + x.bandwidth(); })
                    .padAngle(0.01)
                    .padRadius(innerRadius))
					.call(toolTip);

                svg.append("g")
                    .selectAll("g")
                    .data(data)
                    .enter()
                    .append("g")
                    .attr("text-anchor", function(d) { return (x(d.state) + x.bandwidth() / 2 + Math.PI) % (2 * Math.PI) < Math.PI ? "end" : "start"; })
                    .attr("transform", function(d) { return "rotate(" + ((x(d.state) + x.bandwidth() / 2) * 180 / Math.PI - 90) + ")"+"translate(" + (y(d.cases)+10) + ",0)"; })
                    .append("text")
                    .text(function(d){return(d.state)})
                    .attr("transform", function(d) { return (x(d.state) + x.bandwidth() / 2 + Math.PI) % (2 * Math.PI) < Math.PI ? "rotate(180)" : "rotate(0)"; })
                    .style("font-size", "11px")
                    .attr("alignment-baseline", "middle")

        };

		const drawVis = function(toggleIndex, s, e) {
		    document.querySelector(".circular-chart").innerHTML = '';
		    document.querySelector(".year-chart").innerHTML = '';
			drawBarUSChart(data);
			drawRadialBar(data);
        };
		
		drawTimeline();
		drawVis(toggleVar, yearStart, yearEnd)
        
    </script>
</body>

</html>
