<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CSE564 Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png"  href= "{{ url_for('static',filename='styles/images/icon/favicon.ico') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/themify-icons.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/metisMenu.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/slicknav.min.css') }}">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/typography.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/default-css.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/styles.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/responsive.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css/ethincmix.css') }}">
    <!-- modernizr css -->
    <script src="{{ url_for('static',filename='styles/js/vendor/modernizr-2.8.3.min.js') }}"></script>
	<script>
		function change_button(){
			$('.page-container').toggleClass('sbar_collapsed2');
		}
	</script>
</head>

<style> /* set the CSS */

	.bar { fill: steelblue; }

	.border {
		border:1px solid black;
	}

	.tile {
		border:1px solid black;
		width:50%;
		min-height:100px;
		float:left;
	}

	.tip {
		padding:4px;
		background:white;
		border-radius:6px;
	}

	.state{
		fill: none;
		stroke: #a9a9a9;
		stroke-width: 1;
	}

	.state:hover{
		fill-opacity:0.5;
	}

	#tooltip {
		position: absolute;
		margin: 10px;
		font: 12px sans-serif;
		border: 1px;
		pointer-events: none;
	}

	#tooltip h4{
		margin:0;
		font-size:18px;
		color: plum;
	}

	#tooltip{
		position: absolute;
		margin: 10px;
		font: 14px sans-serif;
		pointer-events: none;
		background:rgba(0,0,0,0.9);
		border:1px solid grey;
		border-radius:5px;
		width:auto;
		padding:4px;
		color:white;
		opacity:0;
	}
	#tooltip table{
		table-layout:fixed;
	}

	#tooltip tr td{
		padding:0;
		margin:0;
	}

	#tooltip tr td:nth-child(1){
		width:50px;
	}

	#tooltip tr td:nth-child(2){
		text-align:center;
	}

    .axis--grid .domain {
        fill: #ddd;
        stroke: none;
    }

    .axis--x .domain,
    .axis--grid .tick line {
        stroke: #fff;
    }

    .axis--grid .tick--minor line {
        stroke-opacity: .5;
    }
	
	.tile-header {
		height:40%;
		background:steelblue;
		color:#ecf0f1;
		display:flex;
		align-items: center;
		justify-content: center;
	}
	
	.tile-header-left {
		align-items: left;
		justify-content: left;
	}
	
	.bar { 
		fill: steelblue; 
	}

</style>

<body onresize="change_button()">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="index.html"><img src="{{ url_for('static',filename='styles/images/icon/sbu_logo_dark.png') }}" width="100" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li>
                                <a href="home" aria-expanded="true"><i class="ti-pie-chart"></i><span>Home</span></a>
                            </li>
							<li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-pie-chart"></i><span>Map Charts</span></a>
                                <ul class="collapse">
                                    <li><a href="maps">Incidents Chart</a></li>
                                    <li><a href="#">Race Chart</a></li>
                                    <li><a href="#">pie chart</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="rmix" aria-expanded="true"><i class="ti-pie-chart"></i><span>Racial Distribution</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div>
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <!-- profile info & task notification -->
					<h3 class="center-align">ETHNIC TRENDS</h3>
                </div>
            </div>
            <!-- header area end -->
            <!-- page title area start -->
            <div class="page-title-area">
            </div>
            <div class="timeline-filter" align="center">
            </div>
            <!-- page title area end -->
			<br>
			<h4 class="center-align">ETHNIC DISTRIBUTION OF SHOOTERS</h4>
			<br>
			<div class="border" style="width:15%;margin-left:5%;margin-bottom:20px">
				<div class="tile-header tile-header-left border">
					<h6 style="padding-left:5px">Select Govt:</h6>
				</div>
				<select id="state-filter" style="width:100%">
					<option value="All">All</option>
					<option value="Republican">Republican</option>
					<option value="Democratic">Democratic</option>
					<option value="Independent">Independent</option>
				</select>
			</div>
			<div class="horizontal-bar" style="float:left;width:20%">
            </div>
            <div class="year-chart" align="center" style="float:left;width:80%">
            </div>
			<div class="ethnic-mix">
            </div>
        </div>
        <!-- main content area end -->
    </div>
    <!-- page container area end -->
    <!-- jquery latest version -->
    <script src="{{ url_for('static',filename='styles/js/vendor/jquery-2.2.4.min.js') }}"></script>
    <!-- bootstrap 4 js -->
    <script src="{{ url_for('static',filename='styles/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/metisMenu.min.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/jquery.slicknav.min.js') }}"></script>

    <!-- others plugins -->
    <script src="{{ url_for('static',filename='styles/js/plugins.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/scripts.js') }}"></script>

	<!-- US States -->
	<script src="{{ url_for('static',filename='styles/js/uStates.js') }}"></script>

    <!-- load the d3.js library -->
    <script src="http://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-selection-multi.v0.4.min.js"></script>
    <script src='https://npmcdn.com/babel-core@5.8.34/browser.min.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
	<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3-scale-radial.js"></script>
    <script src="{{ url_for('static',filename='styles/js/ethnicmix.js') }}"></script>

    <script lang="babel" type='text/babel'>

        let data;
		data = {{ data.distribution_data | safe }};

		const drawHorizontalBarChart = function() {
			// set the dimensions and margins of the graph
			var margin = {top: 20, right: 20, bottom: 30, left: 100},
			width = 200 - margin.left - margin.right,
			height = 500 - margin.top - margin.bottom;

			// set the ranges
			var y = d3.scaleBand()
						.range([height, 0])
						.padding(0.8);

			var x = d3.scaleLinear()
						.range([0, width]);

			// append the svg object to the body of the page
			// append a 'group' element to 'svg'
			// moves the 'group' element to the top left margin
			var svg = d3.select("div.horizontal-bar").append("svg")
						.attr("width", width + margin.left + margin.right)
						.attr("height", height + margin.top + margin.bottom)
						.append("g")
						.attr("transform", 
						"translate(" + margin.left + "," + margin.top + ")");

			d3.csv("{{ url_for('static',filename='data_files/csv/us_state_incidents.csv') }}", function(error, data) {
				// Scale the range of the data in the domains
				x.domain([0, d3.max(data, function(d){ return d.cases; })])
				y.domain(data.map(function(d) { return d.state; }));
				//y.domain([0, d3.max(data, function(d) { return d.sales; })]);

				// append the rectangles for the bar chart
				svg.selectAll(".bar")
					.data(data)
					.enter().append("rect")
					.attr("class", "bar")
					//.attr("x", function(d) { return x(d.sales); })
					.attr("width", function(d) {return x(d.cases); } )
					.attr("y", function(d) { return y(d.state); })
					.attr("height", y.bandwidth());

				// add the y Axis
				svg.append("g")
					.call(d3.axisLeft(y));
			});
		};
		
        const drawTimeline = function() {
            let margin = {top: 10, right: 40, bottom: 10, left: 10},
                width = 1000,
                height = 37;

            let range = [new Date(1966, 1, 1), new Date(2018, 12, 30) - 1];

            let x = d3.scaleTime()
                        .domain(range)
                        .rangeRound([0, width]);

            let svg = d3.select("div.timeline-filter").append("svg")
                        .attr("width", width + margin.left + margin.right)
                        .attr("height", height + margin.top + margin.bottom)
						.attr('class', 'timeline-svg')
                        .append("g")
                        .attr("transform", "translate(" + 30 + "," + 10 + ")");

            svg.append("g")
                .attr("class", "axis axis--grid")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x)
                .ticks(d3.timeYear, 1)
                .tickSize(-height)
                .tickFormat(function() { return null; }))
                .selectAll(".tick")
                .classed("tick--minor", function(d) { return d.getYear(); });

            svg.append("g")
                .attr("class", "axis")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x)
                .ticks(d3.timeYear)
                .tickPadding(0))
                .attr("text-anchor", null)
                .selectAll("text")
                .attr("transform", "rotate(-90)" )
                .attr("x", 6)
				.attr("y", -12);

            let brush = d3.brushX()
                            .extent([[0, 0], [width, height]])
                            .on("brush", brushmoved)
                            .on("end", brushended);

            let yearBrush = svg.append("g")
                                .attr("class", "brush")
                                .call(brush);

            // https://github.com/crossfilter/crossfilter/blob/gh-pages/index.html#L466
            var brushResizePath = function(d) {
                var e = +(d.type == "e"),
                    x = e ? 1 : -1,
                    y = height / 2;
                return "M" + (.5 * x) + "," + y + "A6,6 0 0 " + e + " " + (6.5 * x) + "," + (y + 6) + "V" + (2 * y - 6) + "A6,6 0 0 " + e + " " + (.5 * x) + "," + (2 * y) + "Z" + "M" + (2.5 * x) + "," + (y + 8) + "V" + (2 * y - 8) + "M" + (4.5 * x) + "," + (y + 8) + "V" + (2 * y - 8);
            };


            var handle = yearBrush.selectAll(".handle--custom")
            .data([{type: "w"}, {type: "e"}])
            .enter().append("path")
            .attr("class", "handle--custom")
            .attr("stroke", "#000")
            .attr("cursor", "ew-resize")
            .attr("d", brushResizePath);

            yearBrush.call(brush.move, range.map(x));

            function brushended() {
                if (!d3.event.sourceEvent) return; // Only transition after input.
                if (!d3.event.selection) return; // Ignore empty selections.
                var d0 = d3.event.selection.map(x.invert),
                d1 = d0.map(d3.timeYear.round);

  // If empty when rounded, use floor & ceil instead.
                if (d1[0] >= d1[1]) {
                    d1[0] = d3.timeYear.floor(d0[0]);
                    d1[1] = d3.timeYear.offset(d1[0]);
                }

                console.log(d1);
                d3.select(this).transition().call(d3.event.target.move, d1.map(x));

            }

            function brushmoved() {
                let s = d3.event.selection;
                handle.attr("display", null).attr("transform", function(d, i) { return "translate(" + [ s[i], - height / 4] + ")"; });

            }


        };

         drawTimeline();

         const drawEthincMix = function(data) {
                var donut = donutChart()
                            .width(800)
                            .height(450)
                            .cornerRadius(3) // sets how rounded the corners are on each slice
                            .padAngle(0.015) // effectively dictates the gap between slices
                            .variable('Distribution')
                            .category('Race');


                    console.log(data);
                    d3.select('.year-chart')
                    .datum(data) // bind data to the div
                    .call(donut); // draw chart in div

            };

         drawEthincMix(data);
		 drawHorizontalBarChart();
    </script>
</body>

</html>
